
body{
    margin: 0;
    justify-content: center;
}

                            /* HEADER/NAV */

header{

    width: 100%;
    position: fixed;
    height: 80px;
    background-color: black;
    z-index: 10;
    
}
header h2{
    font-size: 30px;
    position: absolute;
    letter-spacing: 5px;
    top: 2vh;
    left: 6%;
    color:#fff;
    cursor: pointer;  
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
nav{
    position: fixed;
}
nav ul{
 
    width: 1200px;
    position: absolute;
    left: 15%;
    display: flex;
    list-style: none;
    top: 2vh;
}
    nav ul li{
    margin-left: 50px;
    position: relative;
    left: 80%;

    
    }
nav ul li a{
    font-size: 22px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: all .3s ease-out;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
nav ul li a:hover{
    color:#fd4312;
}



                          /* ANIMATIONS */

.wrapper{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: transparent;
}

.box div{
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background-color: transparent;
    border: 2px solid rgba(255,255,255,0.8);
}
.box div:nth-child(1){
    top: 22%;
    left: 42%;
    animation: anim-move 10s infinite;
    background-color: rgb(255, 0, 119);
  
   
   
}
.box div:nth-child(2){
    top: 70%;
    left: 50%;
    animation: animate 7s linear infinite;
    background-color: pink;
   
}
.box div:nth-child(3){
    top: 27%;
    left: 6%;
    animation: animate 9s linear infinite;
    background-color: yellow;
    
}
.box div:nth-child(4){
    top: 30%;
    left: 60%;
    animation: anim-move 5s infinite;
    background-color: purple;
  
}
.box div:nth-child(5){
    top: 67%;
    left: 10%;
    animation: anim-move 5s infinite;
    background-color: goldenrod;
 
}
.box div:nth-child(6){
    top: 80%;
    left: 70%;
    animation: anim-move 5s infinite;
    background-color: orange;
   
}
.box div:nth-child(7){
    top: 60%;
    left: 80%;
    animation: anim-move 5s infinite;
    background-color:greenyellow;
  
}
.box div:nth-child(8){
    top: 32%;
    left: 40%;
    animation: anim-move 5s infinite;
    background-color: orangered;
}
.box div:nth-child(9){
    top: 90%;
    left: 25%;
    animation: anim-move 5s infinite;
    background-color: chartreuse;
}
.box div:nth-child(10){
    top: 40%;
    left: 80%;
    animation: anim-move 5s infinite;
    animation: anim-updown 5s infinite;
    background-color: dodgerblue;
  
}
.box div:nth-child(11){
    top: 45%;
    left: 33%;
    animation: anim-move 5s infinite;
    animation: anim-updown 5s infinite;
    background-color: blue;
  
}

@keyframes animate{
    0%{
        transform: scale(0) translateY(0) rotate(0);
        opacity: 1;
    }
    100%{
        transform: scale(1.3) translateY(-90px) rotate(360deg);
        opacity: 1;
    }
}


@keyframes anim-rotate-full {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(360deg);
    }
    100% {
      transform: rotate(0deg);
    }
}

  @keyframes anim-move {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(30px);
    }
    100% {
      transform: translateX(0);
    }
}

/* ***************************************************************************************************************************************************************************************
                        MOTHER-CONTAINER

*************************************************************************************************************************************************************************************** */


.mother-container{                                 
    position: relative;
    width: 100%;
    height:100vh;
    overflow: hidden;
    background-color: rgba(221, 214, 214, 0.726);;
}     

/* ***************************************************************************************************************************************************************************************
                           SUB-CONTAINER1

*************************************************************************************************************************************************************************************** */

.sub-container1{
    height: 600px;
    width: 700px;
    position: absolute;
    top: 27vh;
    left: 15.2%;
    background: transparent;
} 
.font1{
    font-size: 27px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: -3px 0 0 rgba(255, 0, 0,.7), 3px 0 0 rgba(0, 255, 255, .7) ;
} 
.font2{
    font-size: 95px;
    font-family: 'Abril Fatface', cursive;
    font-weight: bolder;
    color: #fdb63c;
    position: relative;
    top: -20px;
    text-shadow: -3px 0 0 rgba(255, 0, 0,.7), 3px 0 0 rgba(0, 255, 255, .7) ;
}   
.font3{
    font-size: 95px;
    font-family: 'Abril Fatface', cursive;
    font-weight: bolder;
    /* color: orangered; */
    color:#fd4312;
    position: relative;
    top: -50px;
    text-shadow: -3px 0 0 rgba(255, 0, 0,.7), 3px 0 0 rgba(0, 255, 255, .7) ;
}  
.font3a{
    font-size: 95px;
    font-family: 'Abril Fatface', cursive;
    font-weight: bolder;
    /* color: orangered; */
    color: #fd4312;
    position: relative;
    top: -80px;
    text-shadow: -3px 0 0 rgba(255, 0, 0,.7), 3px 0 0 rgba(0, 255, 255, .7) ;
} 
.font4{
    font-size: 24px;
    font-family: 'poppins', sans-serif;
   color: #615978;
    position: relative;
    top: -80px;
    
    
} 
  

                                         /* END OF SUB-CONTAINER1 */

.image-wrapper{
    /* border: 1px solid red; */
    width: 450px;
    position: relative;
    left: 55%;
    top: 17vh;
}
.image1{
    transform: rotate(-15deg);
} 
.paint1{
    position: absolute;
    top: 8vh;
}    
.paint3{
    position: absolute;
    top: 1vh;
    left: 80%;
}     
.paint2{
    position: absolute;
    top: 58vh;
    left: 80%;
}   
.paint4{
    position: absolute;
    top: 47vh;
    left: 0%;
    width: 90px;
} 

/* ***************************************************************************************************************************************************************************************
                        SUB-CONTAINER2 / INTRO-SECTION
*************************************************************************************************************************************************************************************** */

.sub-container2{
    /* border: 1px solid red; */
    width: 100%;
    height: 60vh;
    position: relative;
    top: 0vh;
    background-color: #ffffff0c;
}  
.img1{
    animation: anim-updown 5s infinite;
    position: absolute;
    width: 80px;
    height: 100px;
    left: 10%;
}   
@keyframes anim-updown {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(30px);
    }
    100% {
      transform: translateY(0);
    }
} 

.animate-pop-in{
    animation: pop-in .9s cubic-bezier(0, .9, .3, 1.2)  forwards;
    opacity: 0;
}
  @keyframes pop-in{
    0% {
        opacity: 0;
        transform: translateY(-4rem) scale(.8);
    }
    100%{
        opacity: 1;
        transform: none;
    }
}  
.img2{
    animation: anim-updown 5s infinite;
    position: absolute;
    width: 80px;
    height: 100px;
    left: 90%;
    top: 61vh;
    z-index: 1;
}    
.font1b{
    font-size: 26px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position:absolute ;
    left: 48%;
    top: 6vh; 
    animation-delay: .6s;
}   
.font2b{
    font-family: 'poppins'sans-serif;
    color: #615978;
    font-size: 23px;
    position: absolute;
    top: 13vh;
    left: 37%;
}
.font3b{
    font-family: 'poppins'sans-serif;
    color: #615978;
    font-size: 23px;
    position: absolute;
    top: 16vh;
    left: 44%;
}
.box1{
    border: 1px solid rgba(0, 0, 0, 0.288);
  padding: 48px;
  border-radius: 12px;
  position: relative;
  background: #fff;
  transition: 0.3s;
  top: 26vh;
  width: 410px;
  left: 18%;
  height: 250px;
  

}
.box1:after{
    content: '';
    width:408px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #fd4312;
    transition: 0.3s;
    z-index: -1;
    border-radius: 12px;
}
.box1:hover{
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.1);
    border-color: #fff;
  
}
.box1:hover:after{
    transform: rotate(-10deg);
}
.box2{
    border: 1px solid rgba(0, 0, 0, 0.288);
    height: 250px;
    width: 410px;
    top: 26vh;
    left: 41%;
    padding: 48px;
    border-radius: 12px;
    position: absolute;
    background: #fff;
    transition: 0.3s;

}
.box2:after{
    content: '';
    width:408px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #fd4312;
    transition: 0.3s;
    z-index: -1;
    border-radius: 12px;
}
.box2:hover{
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.1);
    border-color: #fff;
 
}
.box2:hover:after{
    transform: rotate(-10deg);
}
.box3{
    border: 1px solid rgba(0, 0, 0, 0.288);
    height: 250px;
    width: 410px;
    top: 26vh;
    left: 64%;
    padding: 48px;
    border-radius: 12px;
    position: absolute;
    background: #fff;
    transition: 0.3s;
   
}
.box3:after{
    content: '';
    width:408px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #fd4312;
    transition: 0.3s;
    z-index: -1;
    border-radius: 12px;
}
.box3:hover{
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.1);
    border-color: #fff;
 
}
.box3:hover:after{
    transform: rotate(-10deg);
}

.img3{
    position: absolute;
    top: 5vh;
    left: 10%;
}
.font4b{
    font-size: 27px;
    width: 400px;
    color:rgba(0, 0, 0, 0.877);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800;
    position: absolute;
    top: 12vh;
    left: 11%;
}
.img4{
    position: absolute;
    top: 5vh;
    left: 10%;
}
.font5{
    font-size: 27px;
    width: 400px;
    color:rgba(0, 0, 0, 0.877);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800;
    position: absolute;
    top: 12vh;
    left: 11%;
}
.img5{
    position: absolute;
    top: 5vh;
    left: 10%;
}
.font6{
    font-size: 27px;
    width: 400px;
    color:rgba(0, 0, 0, 0.877);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800;
    position: absolute;
    top: 12vh;
    left: 11%;
}


/* ***********************************************************************************************************************************************************************************************
               ABOUT SECTION / SUB-CONTAINER3
************************************************************************************************************************************************************************************************           */

.sub-container3{
    width: 100%;
    height: 800px;
    position: relative;
    top: 0vh;
    background-color: rgba(243, 235, 235, 0.726);;
}
.image-wrapper2{
    width: 550px;
    height: 65vh;
    position: absolute;
    left: 18%;
    top: 8vh;
}
.image-wrapper:hover{
    transform: perspective(1000px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);
    will-change: transform;
    
}
.img6{
    position: absolute;
    left: 35%;
}
.img7{
    position: absolute;
    top: 30vh;
}
.square1{
    width: 50px;
    height: 50px;
    border: 4px solid rgb(233, 168, 4);
    border-radius: 10px;
    position: absolute;
    top: 17vh;
    left: 12%;
}
.square2{
    width: 40px;
    height: 40px;
    border-radius: 10px;
    position: absolute;
    top: 44vh;
    left: 65%;
    background-color: #fd4312;
}

.font1c{
    font-size: 22px;
    color: orangered;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    left: 55%;
    position: absolute;
    top: 8vh;
    font-weight: bold;
}
.font2c{
    font-size: 50px;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    left: 55%;
    position: absolute;
    top: 10.2vh;
    font-weight: bold;
}
.font2c2{
    font-size: 50px;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    left: 55%;
    position: absolute;
    top: 16vh;
    font-weight: bold;
}
.font3c{
    position: absolute;
    left: 55%;
    top: 26vh;
    font-family: 'Open Sans', sans-serif;
    font-size: 19px;
    color: #615978;
}


.img8{
    animation: anim-updown 5s infinite;
    position: absolute;
    left: 10%;
    top: 90vh;
} 

/* ***************************************************************************************************************************************************************************************
                        SUB-CONTAINER4 / SKILL-SECTION
*************************************************************************************************************************************************************************************** */

.sub-container4{
    height: 450px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.856), rgba(0, 0, 0, 0.87)),url(assets/images/t.jpg)no-repeat bottom;
    display: flex;
}
.baby-container1{
    height: 200px;
    width: 500px;
    position: relative;
    top: 9vh;
    left: 18%;
}
.font4c{
    font-size: 20px;
    color:#fd4312;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
}
.font5c{
    font-size: 50px;
    color: #fff;
    font-family: 'poppins', sans-serif;
    font-weight: 700;
    position: absolute;
    top: 15px;
}
.font6c{
    font-size: 50px;
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    position: absolute;
    top:70px;   
}

.baby-container2{
    height: 300px;
    width: 600px;
    position: relative;
    top: 12vh;
    left: 26%;
    
}
.text{
    color: #fff;
    font-size: 17.5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
}
.value1{
    position: absolute;
    right: 0;
    top: 2px;
    color: #fd4312;
    font-size: 16px;
    font-weight: 700;
}
#progress2{
    position: relative;
    top: 3vh;
}
.text2{
    color: #fff;
    font-size: 17.5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    position: relative;
    top: 2.5vh;
}
.value2{
    position: absolute;
    right: 0;
    top: 6vh;
    color: #fd4312;
    font-size: 16px;
    font-weight: 700;
}
#progress3{
    position: relative;
    top: 6vh;
}
.text3{
    color: #fff;
    font-size: 17.5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    position: relative;
    top: 5.5vh;
}
.value3{
    position: absolute;
    right: 0;
    top: 12.5vh;
    color: #fd4312;
    font-size: 16px;
    font-weight: 700;
}
#progress4{
    position: relative;
    top: 9vh;
}
.text4{
    color: #fff;
    font-size: 17.5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    position: relative;
    top: 8vh;
}
.value4{
    position: absolute;
    right: 0;
    top: 18.5vh;
    color: #fd4312;
    font-size: 16px;
    font-weight: 700;
}
 
/* *************************************************************************************************************************************************************************************************
                 SUB-CONTAINER5 / SERVICE SECTION 
************************************************************************************************************************************************************************************************* */
.sub-container5{
    display: flex;
    position: relative;
    height: 135vh;
    width: 100%;
    background-color: #333;
    align-items: center;
    text-align: center;
}
.font1d{
    position: absolute;
    width: 500px;
    height: 10vh;
    top: 5vh;
    left: 37%;
    font-size: 28px;
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.baby-container3{
    border: 1px solid #ffffff28;
    width: 420px;
    height: 35vh;
    position: relative;
    top: -34vh;
    left: 16%;
    border-radius: 15px;
    transition: .3s ease;
}
.circle1{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #55555598;
    align-content: center;
    position: absolute;
    top: 3vh;
    left: 37%;
}
.png1{
    position: absolute;
    top: 26px;
    left: 20px;
}
.font2d{
    font-size: 33px;
    color: #fff;
    position: absolute;
    top: 16vh;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   left: 20%;
}
.font3d{
    font-size: 20px;
    color: #b0aac0;
    position: absolute;
    top: 23vh;
    font-weight: 200;
    font-family: 'poppins', sans-serif;
    left: 12.5%;
}
.baby-container3:hover{
    background-color: #fff;
}
.baby-container3:hover .circle1{
    background: rgba(255, 68, 0, 0.808);
    color: #fff;
}
.baby-container3:hover .font2d{
    color: black;
}
.baby-container4{
    border: 1px solid #ffffff28;
    width: 420px;
    height: 55vh;
    position: relative;
    top: -24vh;
    left: 17.2%;
    border-radius: 15px;
}
.circle2{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #55555598;
    align-content: center;
    position: absolute;
    top: 3vh;
    left: 37%;
}
.png2{
    position: absolute;
    top: 26px;
    left: 22px;
}
.font4d{
    font-size: 33px;
    color: #fff;
    position: absolute;
    top: 15.5vh;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   left: 14%;
}
.font4d2{
    font-size: 33px;
    color: #fff;
    position: absolute;
    top: 19.5vh;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   left: 41%;
}
.font5d{
    font-size: 17.5px;
    color: #b0aac0;
    position: absolute;
    top: 27.5vh;
    font-weight: 200;
    font-family: 'poppins', sans-serif;
    left: 1%;
}
.baby-container4:hover{
    background-color: #fff;
}
.baby-container4:hover .circle2{
    background: rgba(255, 68, 0, 0.808);
}
.baby-container4:hover .font4d{
    color: black;
}
.baby-container4:hover .font4d2{
    color: black;
}

.baby-container5{
    border: 1px solid #ffffff28;
    width: 420px;
    height: 43vh;
    position: relative;
    top: -30vh;
    left: 18.3%;
    border-radius: 15px;
}
.circle3{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #55555598;
    align-content: center;
    position: absolute;
    top: 3vh;
    left: 37%;
}
.png3{
    position: absolute;
    top: 26px;
    left: 20px;
}
.font6d{
    font-size: 33px;
    color: #fff;
    position: absolute;
    top: 15.5vh;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    left: 25.9%;
}
.font7d{
    font-size: 18px;
    color: #b0aac0;
    position: absolute;
    top: 23vh;
    font-weight: 200;
    font-family: 'poppins', sans-serif;
    text-align: center;
}
.baby-container5:hover{
    background-color: #fff;
}
.baby-container5:hover .circle3{
    background: rgba(255, 68, 0, 0.808);
}
.baby-container5:hover .font6d{
    color: black;
}

.baby-container6{
    border: 1px solid #ffffff28;
    width: 420px;
    height: 43vh;
    position: relative;
    top: 28vh;
    right: 50.3%;
    border-radius: 15px;
}

.circle4{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #55555598;
    align-content: center;
    position: absolute;
    top: 3vh;
    left: 37%;
}
.png4{
    position: absolute;
    top: 26px;
    left: 20px;
}
.font8d{
    font-size: 33px;
    color: #fff;
    position: absolute;
    top: 16vh;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    left: 15.5%;
}
.font9d{
    font-size: 18px;
    color: #b0aac0;
    position: absolute;
    top: 23vh;
    font-weight: 200;
    font-family: 'poppins', sans-serif;
    text-align: center;
}
.baby-container6:hover{
    background-color: #fff;
}
.baby-container6:hover .circle4{
    background: rgba(255, 68, 0, 0.808);
}
.baby-container6:hover .font8d{
    color: black;
}
.baby-container7{
    border: 1px solid #ffffff28;
    width: 420px;
    height: 46.5vh;
    position: absolute;
    top: 74vh;
    right: 38.5%;
    border-radius: 15px;
}
.circle5{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #55555598;
    align-content: center;
    position: absolute;
    top: 3vh;
    left: 37%;
}
.png5{
    position: absolute;
    top: 26px;
    left: 22px;
}
.font10d{
    font-size: 33px;
    color: #fff;
    position: absolute;
    top: 15.5vh;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    left: 17%;
}
.font11d{
    font-size: 18px;
    color: #b0aac0;
    position: absolute;
    top: 23vh;
    font-weight: 200;
    font-family: 'poppins', sans-serif;
    text-align: center;
}
.baby-container7:hover{
    background-color: #fff;
}
.baby-container7:hover .circle5{
    background: rgba(255, 68, 0, 0.808);
}
.baby-container7:hover .font10d{
    color: black;
}

.baby-container8{
    border: 1px solid #ffffff28;
    width: 420px;
    height: 43vh;
    position: absolute;
    top: 74vh;
    right: 15%;
    border-radius: 15px;
}
.circle6{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #55555598;
    align-content: center;
    position: absolute;
    top: 3vh;
    left: 37%;
}
.png6{
    position: absolute;
    top: 26px;
    left: 20px;
}
.font12d{
    font-size: 33px;
    color: #fff;
    position: absolute;
    top: 16vh;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    left: 15.5%;
}
.font13d{
    font-size: 18px;
    color: #b0aac0;
    position: absolute;
    top: 23vh;
    font-weight: 200;
    font-family: 'poppins', sans-serif;
    left: 1%;
}
.baby-container8:hover{
    background-color: #fff;
}
.baby-container8:hover .circle6{
    background: rgba(255, 68, 0, 0.808);
}
.baby-container8:hover .font12d{
    color: black;
}


.img9{
    animation: anim-updown 5s infinite;
    position: absolute;
    right:90%;
    bottom: 110vh;
}
.img10{
    animation: anim-updown 5s infinite;
    position: absolute;
    right: 1%;
    bottom:60vh ;
}
.img11{
    animation: anim-updown 5s infinite;
    position: absolute;
    right: 90%;
    top:98vh;
    z-index: 1;
}

.sub-container6{
    width: 100%;
    height: 87vh;
    position: absolute;
    left: 0%;
    top: 425vh;
    background-color:#fff;
    align-items: center;
    text-align: center;
}
.img-box{
    position: absolute;
    top: 8vh;
    left: 18%;
    width: 602px;
    height: 602px;
}
.baby-container9{
    height: 715px;
    width: 600px;
    position: absolute;
    top: 8vh;
    left: 55%;
}
.font1e{
    font-size: 19px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    color: red;
}
.font2e{
    font-size: 45px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    font-weight: 700;
    top: 2vh;
}
.font3e{
    font-size: 45px;
    position: absolute;
    font-weight: 700;
    top: 7.5vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.font4e{
    font-size: 19px;
    color: #615978;
    position: absolute;
    top: 16.5vh;
    font-weight: 200;
    font-family: 'poppins', sans-serif;
    text-align: left;
    
}
.circle1b{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #55555598;
    align-content: center;
    position: absolute;
    top:45vh;
    left: 0; 
    background-color: #fd4512d3;
}
.png7{
    position: absolute;
    top: 5px;
    left: 1px;
}
.font5e{
    font-size: 22px;
    font-weight: 700;
    position: absolute;
    left: 10.5%;
    top: 44vh;
}
.font6e{
    font-size: 19px;
    left:10.5% ;
    position: absolute;
    top: 48vh;
    color: rgba(0, 0, 0, 0.603);
}
.circle2b{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #55555598;
    align-content: center;
    position: absolute;
    top: 56vh;
    left: 0; 
    background-color: #fd4512d3;
}
.png8{
    position: absolute;
    top: 5px;
    left: 1px;
}
.font7e{
    font-size: 22px;
    font-weight: 700;
    position: absolute;
    left: 10.5%;
    top: 55vh;
}
.font8e{
    font-size: 19px;
    left:10.5% ;
    position: absolute;
    top: 59vh;
    color: rgba(0, 0, 0, 0.603);
}

.circle3b{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #55555598;
    align-content: center;
    position: absolute;
    Top: 67vh;
    left:0; 
    background-color: #fd4512d3;
}
.png9{
    position: absolute;
    top: 5px;
    left: 2.4px;
}
.font9e{
    font-size: 22px;
    font-weight: 700;
    position: absolute;
    left: 10.5%;
    top: 66vh;
}
.font10e{
    font-size: 19px;
    left:10.5% ;
    position: absolute;
    top: 70vh;
    color: rgba(0, 0, 0, 0.603);
}


/* **********************************************************************************************************************************************************************************************
                 SUB-CONTAINER7 /   TESTIMONIALS SECTION
**********************************************************************************************************************************************************************************************                     */

.sub-container7{
    background: linear-gradient(to right,black,rgba(82, 28, 3, 0.89));
    height: 79vh;
    width: 100%;
    position: relative;
    top: 83vh;
}
.font1f{
    position: absolute;
    top: 10vh;
    left: 46%;
    font-size: 25px;
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.font2f{
    position: absolute;
     top: 15vh;
     color: #bdb9cb;
    left: 40%;
     font-size: 22px;
     font-weight: 700;
}
.baby-container10{
    position: absolute;
    width: 420px;
    height:300px;
    left: 16%;
    top: 27vh;
    border-radius: 15px;
    background-color: #fff;
    
}
.mini-container1{
    position: absolute;
    width: 365px;
    height: 20px;
    top: 31.1vh;
    left: 6.1%;
    background-color: #ffffffe1;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.circle1c{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #fdb63c;
    align-content: center;
    position: absolute;
    top: -4vh;
    left: 40%;
}
.png10{
    position: absolute;
    top: 26px;
    left: 25px;
}
.font3f{
    position: absolute;
    font-size: 19px;
    font-style: italic;
    color: #615978;
    left: 10.5%;
    top: 5vh;
}
.font4f{
    position: absolute;
    font-size: 25px;
    font-weight: 700;
    color:black;
    left: 28%;
    top: 18.5vh;
}
.font5f{
    position: absolute;
    font-size: 20px;
    color: #615978;
    left: 35%;
    top: 22.5vh;
}

.baby-container11{
    position: absolute;
    width: 420px;
    height:320px;
    left: 39.5%;
    top: 27vh;
    border-radius: 15px;
    background-color: #fff;
    
}
.mini-container2{
    position: absolute;
    width: 365px;
    height: 20px;
    top: 33.3vh;
    left: 6.1%;
    background-color: #ffffffe1;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.circle2c{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #fdb63c;
    align-content: center;
    position: absolute;
    top: -4vh;
    left: 40%;
}
.png11{
    position: absolute;
    top: 26px;
    left: 25px;
}
.font6f{
    position: absolute;
    font-size: 19px;
    font-style: italic;
    color: #615978;
    left: 10.5%;
    top: 5vh;
}
.font7f{
    position: absolute;
    font-size: 25px;
    font-weight: 700;
    color:black;
    left: 28.5%;
    top: 18.5vh;
}
.font8f{
    position: absolute;
    font-size: 20px;
    color: #615978;
    left: 35%;
    top: 22.5vh;
}


.baby-container12{
    position: absolute;
    width: 420px;
    height:300px;
    left: 63%;
    top: 27vh;
    border-radius: 15px;
    background-color: #fff;
    
}
.mini-container3{
    position: absolute;
    width: 365px;
    height: 20px;
    top: 31.1vh;
    left: 6.1%;
    background-color: #ffffffe1;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.circle3c{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #fdb63c;
    align-content: center;
    position: absolute;
    top: -4vh;
    left: 40%;
}
.png12{
    position: absolute;
    top: 26px;
    left: 25px;
}
.font9f{
    position: absolute;
    font-size: 19px;
    font-style: italic;
    color: #615978;
    left: 13%;
    top: 5vh;
}
.font10f{
    position: absolute;
    font-size: 25px;
    font-weight: 700;
    color:black;
    left: 28%;
    top: 16vh;
}
.font11f{
    position: absolute;
    font-size: 20px;
    color: #615978;
    left: 32.2%;
    top: 20vh;
}
/* ********************************************************************************************************************************************************************************************
                      SUB-CONTAINER8 / CONTACT SECTION
********************************************************************************************************************************************************************************************** */
.sub-container8{
    background: #ffffffd5;
    height: 90vh;
    width: 100%;
    position: relative;
    top: 83vh;
}
.font1G{
    position: absolute;
    top: 9vh;
    left: 47%;
    font-size: 27px;
    color:black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.circle1d{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fdb63c;
    align-content: center;
    position: absolute;
    top: 21vh;
    left: 39.5%;
}
.png13{
    position: absolute;
    top: 8px;
    left: 2px;
}
.font2G{
    position: absolute;
    font-size: 25px;
    font-family:'poppins' , sans-serif;
    font-weight: 600;
    color:rgba(0, 0, 0, 0.767);
    left: 43.5%;
    top: 19.5vh;
}
.font3G{
    position: absolute;
    font-size: 22px;
    color: #615978;
    left: 43.5%;
    top: 24vh;
    transition: all .1s ease-in;
    cursor: pointer;
}
.font3G:hover{
    color: #fd4312;
}



.baby-container13{
    width: 650px;
    height: 550px;
    position: absolute;
    top: 33vh;
    left: 40%;
}
.font4G{
    position: absolute;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.input1{
    position: absolute;
    height: 50px;
    width: 310px;
    border: 1px solid rgba(0, 0, 0, 0.349);
    top: 10vh;
    border-radius: 5px;
    padding-left: 15px;
    font-size: 18px;
    outline-color: #fd45127a;
}
.input2{
    position: absolute;
    height: 50px;
    width: 310px;
    border: 1px solid rgba(0, 0, 0, 0.349);
    top: 10vh;
    left: 50%;
    border-radius: 5px;
    font-size: 18px;
    padding-left: 15px;
    outline-color: #fd45127a;
}
.input3{
    position: absolute;
    height: 50px;
    width: 640px;
    border: 1px solid rgba(0, 0, 0, 0.349);
    top: 18vh;
    border-radius: 5px;
    padding-left: 15px;
    font-size: 18px;
    outline-color: #fd45127a;
}
.input4{
    position: absolute;
    height: 180px;
    width: 640px;
    border: 1px solid rgba(0, 0, 0, 0.349);
    top: 26vh;
    border-radius: 5px;
    padding-left: 15px;
    font-size: 18px;
    padding-bottom: 130px;
    outline-color: #fd45127a;
}
.button{
    width: 200px;
    height: 50px;
    border-radius: 5px;
    border: none;
    top: 47vh;
    background-color:#fd4312;
    color: #fff;
    font-size: 16px;
    font-family:'poppins' sans-serif;
    font-weight: 700;
    padding-left: 10px;
    transition: .6s ease-out;
    cursor: pointer;
    position: absolute;
    
}  
button:hover{
    background-color: #b42b05f5;
}  

/* 
*********************************************************************************************************************************************************************************************
                         FOOTER
*********************************************************************************************************************************************************************************************                         */
footer{
    height: 40vh;
    background-color: #f5edd8;
    position: relative;
    top: 87vh;
}
.img12{
    animation: anim-updown 5s infinite;
    position: absolute;
    top: -2vh;
}

.circle1e{
    background-color: orangered;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    position: absolute;
    left: 80%;
    top: -3vh;
}
.arrow-up{
    position: absolute;
    top: 10px;
    left: 15px; 
}
.font1h{
    position: absolute;
    top: 5vh;
    font-size: 23px;
    font-weight: 700;
    color:black;
    left: 45%;
}

.font2h{
    position: absolute;
    top: 15vh;
    color: #615978;
    left: 35.5%;
    font-size: 20px;
}

#click{
    display: none;
}
nav .menu-btn i{
    color:#fff;
    font-size: 25px;
    cursor: pointer;
    display: none;
    left: 87%;
    top: 2vh; 
    position: fixed;
    z-index: 10;
    
    
}

/* 
***************************************************************************************************************************************************************
                               @MEDIA     
***************************************************************************************************************************************************************                               */

@media (max-width:460px){
 header{
    position: fixed;
    background-color:black;
    width: 460px;
    height: 60px;
    z-index: 10;
    /* border: 1px solid red; */

 } 

header h2{
    font-size: 22px;
    position: absolute;
    letter-spacing: 5px;
     top: 2vh;
     left: 6%;
    color:#fff;
    cursor: pointer;  
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav{
    /* border: 1px solid red; */
    display: flex;
    position: fixed;
    z-index: 10;
    width: 460px;
    height: 9vh;
    top: -1vh;
    /* background-color: darkgrey; */
}
.image-wrapper{
    position: relative;
    left: 1%;
    top: 3vh;
}
.image1{
    width: 450px;
    height: 450px;
    transform: rotate(-10deg);
}
.paint1{
    display: none;
}    
.paint3{
    display: none;
}     
.paint2{
    display: none;
}   
.paint4{
    display: none;
} 
#click:checked ~ .menu-btn i:before{
    content: "\f00d";
}
#click:checked ~ ul{
    border: 2px solid #fff;
    border-top: none;
   background:#fff;
   position: fixed;
   /* bottom: 1.5vh; */
   height:500px;
   width: 460px;
   display: block;
   text-align: center; 
   transition: all 0.3s ease;
   z-index: 10;
   left: 0%;
   top: 6vh;
    
}
nav .menu-btn i{
    display: block; 
   
 }
 
 nav ul li a{
    border: 2px solid rgba(0, 0, 0, 0.308);
    border-top: none;
    font-size: 30px;
    text-decoration: none;
    font-weight: 400;
    color: black;
    transition: .5s ease-out;
    position:relative;
    top: 10vh;
    left: -100%;
    line-height: 70px;
    /* display: inline; */
    
    
}

.font1{
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    top: 37vh;
    left: 13%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: none;
    
} 
.font2{
    font-size: 50px;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-family: 'Abril Fatface', cursive;
    font-weight: bolder;
    letter-spacing: 1px;
    color: #f09c0aef;
    position: absolute;
    top: 40vh;
    left: 6%;
    text-shadow:none ;
    
}   
.font3{
    font-size: 47px;
    font-family: 'Abril Fatface', cursive;
    font-weight: bolder;
    /* color: orangered; */
    color:#fd4312;
    position: relative;
    top: 47vh;
    left: -2%;
    text-shadow:none ;

}  
.font3a{
    font-size: 47px;
    font-family: 'Abril Fatface', cursive;
    font-weight: bolder;
    /* color: orangered; */
    color: #fd4312;
    position: relative;
    top: 39.3vh;
    left: 16.5%;
    text-shadow: none;
    
} 
.font4{
    font-size: 18px;
    font-family: 'poppins', sans-serif;
   color: #615978;
    position: relative;
    top: 40vh;
    left: -3%;
    
} 
.stock{
    font-size:18px;
    position: absolute;
    top: 2.5vh;
    left: 16%;
    font-weight: 750;
}
.broker{
    font-size: 18px;
    position: absolute;
    top: -.3vh;
    left: 23.5%;
}


/* *************************************************************************************************************************************************************
                   SUB-CONTAINER2 / INTRO
************************************************************************************************************************************************************* */

.sub-container2{
    /* border: 1px solid red; */
    width: 100%;
    height: 110vh;
    position: relative;
    top: 0vh;
    background-color: #ffffff0c;
} 
.img1{
    display: none;
} 
.img2{
    display: none;
} 
.font1b{
    position: absolute;
    left: 30%;
}
.font2b{
    font-family: 'poppins'sans-serif;
    color: #948daa;
    font-size: 19px;
    position: absolute;
    top: 12vh;
    left: 10%;
}
.span{
    font-size: 19px;
    position: absolute;
    top: 3vh;
    left: .1%;
}
.font3b{
    font-size: 19px;
    position: absolute;
    top: 15vh;
    left:59%;
    color: #948daa;
}
.span2{
    font-size: 19px;
    position: absolute;
    top: 3vh;
    left: -120%;
 
}
.box1{
  position: relative;
  top: 26vh;
  width: 400px;
  left: 5%;
  height: 200px;
  

}
.box1:after{
    content: '';
    width:398px;
}
.box2{
    position: relative;
    top: 30vh;
    width: 400px;
    left: 5%;
    height: 200px;
}
.box2:after{
    content: '';
    width:398px;
}
.box3{
    position: relative;
    top: 34vh;
    width: 400px;
    left: 5%;
    height: 200px;
}
.box3:after{
    content: '';
    width:398px;
}

.img3{
    position: absolute;
    top: 2vh;
    left: 7%;
}
.font4b{
    position: absolute;
    top: 8.5vh;
    left: 11%;
}
.img4{
    position: absolute;
    top: 2vh;
    left: 7%;
}
.font5{
    position: absolute;
    top: 8.5vh;
    left: 11%;
}
.img5{
    position: absolute;
    top: 2vh;
    left: 7%;
}
.font6{
    position: absolute;
    top: 8.5vh;
    left: 11%;
}

/* *************************************************************************************************************************************************************
                   SUB-CONTAINER3 /ABOUT
************************************************************************************************************************************************************* */
.sub-container3{
    width: 100%;
    height: 1450px;
    position: relative;

}
.image-wrapper2{
    /* border: 1px solid red; */
    width: 400px;
    height: 65vh;
    position: absolute;
    left: 5%;
    top: 8vh;
}
.img7{
  width: 390px;
  height: 450px;
  position: absolute;
  left: 0%;
  top: 0;
}
.img6{
    width: 150px;
    height: 160px;
    position: absolute;
    left: 62.2%;
    top: 47.2vh;
    z-index: 10;
}
.img8{
    display: none;
}

.font1c{
    font-size: 18px;
    position: absolute;
    left: 5%;
    top: 75vh;
}
.font2c{
    position: absolute;
    left: 5%;
    top: 77vh;
    font-size: 39px;
}
.span3{
    position: absolute;
    top: 4.5vh;
    left: 0;
}
.font2c2{
  font-size: 39px;
  position: absolute;
  top: 81.4vh;
  left: 56%;
}
.span4{
    position: absolute;
    top: 4.5vh;
    left: -176%;
}
.font3c{
   font-size: 17px;
   position: absolute;
   left: 5%;
   top: 95vh;
   height: 600px;
   text-size-adjust: 100%;
   font-weight: 400;
   line-height: 27px;

}


.square1{
    display: none;
}
.square2{
    display: none;
}

/* *************************************************************************************************************************************************************
                   SUB-CONTAINER4 / SKILL
************************************************************************************************************************************************************* */
.sub-container4{
    height: 600px;
    position: relative;
    /* border: 1px solid red; */
}
.baby-container1{
    /* border: 1px solid red; */
    height: 150px;
    width: 400px;
    position: relative;
    top: 5vh;
    left: 5%;
}
.font4c{
    font-size: 18px;
}
.font5c{
    font-size: 38px;
    position: absolute;
    top: 15px;
}
.font6c{
    font-size: 38px;
    position: absolute;
    top:60px;   
}

.baby-container2{
    /* border: 1px solid red; */
    height: 300px;
    width: 400px;
    position: absolute;
    top: 30vh;
    left: 5%;

    
}
/* *******************************************************************************************************************************************
              SUB-CONTAINER5 / SERVICE
*******************************************************************************************************************************************                           */
.sub-container5{
    /* border: 1px solid red; */
    display: flex;
    position: relative;
    height: 280vh;
    width: 100%;
    background-color: #333;
    align-items: center;
    text-align: center;
}
.img9,
.img10,
.img11{
    display: none;
}
.font1d{
    /* border: 1px solid red ; */
    position: absolute;
    width: 500px;
    height: 10vh;
    top: 7vh;
    left: -8%;
    font-size: 25px;
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.baby-container3{
    width: 400px;
    height: 33vh;
    position: absolute;
    top: 17vh;
    left: 5%;
}
.circle1{
    /* border: 1px solid red; */
    width: 90px;
    height: 90px;
    position: absolute;
    top: 3vh;
    left: 5%;
}
.png1{
    position: absolute;
    top: 23px;
    left: 13px;
}
.font2d{
    font-size: 29px;
    position: absolute;
    top: 16vh;
   left: 5%;
}
.font3d{
    font-size: 20px;
    position: absolute;
    top: 23vh;
    left: 5%;
}
.br{
    left: .5%;
    position: absolute;
}

.baby-container4{
    width: 400px;
    height: 47vh;
    position: absolute;
    top: 53vh;
    left: 5%;
}
.circle2{
    /* border: 1px solid red; */
    width: 90px;
    height: 90px;
    position: absolute;
    top: 3vh;
    left: 5%;
}
.png2{
    position: absolute;
    top: 20px;
    left: 17px;
}
.font4d{
    font-size: 27px;
    position: absolute;
    top: 16vh;
   left: 5%;
}
.font4d2{
    font-size: 26px;
    position: absolute;
    top: 16.1vh;
   left: 68%;
}
.font5d{
    font-size: 17px;
    position: absolute;
    text-align: left;
    top: 23vh;
    left: 5%;
    text-size-adjust: 100%;
    line-height: 27px;
    font-weight: 400;
}

.baby-container5{
    width: 400px;
    height: 39vh;
    position: absolute;
    top: 103vh;
    left: 5%;
}
.circle3{
    /* border: 1px solid red; */
    width: 90px;
    height: 90px;
    position: absolute;
    top: 3vh;
    left: 5%;
}
.png3{
    position: absolute;
    top: 23px;
    left: 13px;
}
.font6d{
    font-size: 29px;
    position: absolute;
    top: 16vh;
   left: 5%;
}
.font7d{
    font-size: 18px;
    position: absolute;
    text-align: left;
    top: 23vh;
    left: 5%;
    text-size-adjust: 100%;
    line-height: 27px;
    font-weight: 400;
}
.baby-container6{
    width: 400px;
    height: 40vh;
    position: absolute;
    top: 145vh;
    left: 5%;
}
.circle4{
    /* border: 1px solid red; */
    width: 90px;
    height: 90px;
    position: absolute;
    top: 3vh;
    left: 5%;
}
.png4{
    position: absolute;
    top: 23px;
    left: 23px;
    width: 40px;
}
.font8d{
    font-size: 29px;
    position: absolute;
    top: 16vh;
   left: 5%;
}
.font9d{
    font-size: 18px;
    position: absolute;
    text-align: left;
    top: 23vh;
    left: 5%;
    text-size-adjust: 100%;
    line-height: 27px;
    font-weight: 400;
}
.baby-container7{
    width: 400px;
    height: 39vh;
    position: absolute;
    top: 188vh;
    left: 5%;
}
.circle5{
    /* border: 1px solid red; */
    width: 90px;
    height: 90px;
    position: absolute;
    top: 3vh;
    left: 5%;
}
.png5{
    position: absolute;
    top: 23px;
    left: 23px;
    width: 40px;
}
.font10d{
    font-size: 29px;
    position: absolute;
    top: 16vh;
   left: 5%;
}
.font11d{
    font-size: 18px;
    position: absolute;
    text-align: left;
    top: 23vh;
    left: 5%;
    text-size-adjust: 100%;
    line-height: 27px;
    font-weight: 400;
}

.baby-container8{
    width: 400px;
    height: 39vh;
    position: absolute;
    top: 231vh;
    left: 5%;
}
.circle6{
    /* border: 1px solid red; */
    width: 90px;
    height: 90px;
    position: absolute;
    top: 3vh;
    left: 5%;
}
.png6{
    position: absolute;
    top: 23px;
    left: 23px;
    width: 40px;
}
.font12d{
    font-size: 29px;
    position: absolute;
    top: 16vh;
   left: 5%;
}
.font13d{
    font-size: 18px;
    position: absolute;
    text-align: left;
    top: 23vh;
    left: 5%;
    text-size-adjust: 100%;
    line-height: 27px;
    font-weight: 400;
}

/* ***************************************************************************************************************************************
                      SUB-CONTAINER6 /FEATURES
************************************************************************************************************************************* */
.sub-container6{
    width: 100%;
    height: 130vh;
    /* border: 1px solid red; */
    position: relative;
    left: 0%;
    top: 0;
    background-color:#fff;
    align-items: center;
    /* text-align: center; */
}
.img-box{
    /* border: 1px solid red; */
    position: absolute;
    top: 8vh;
    left: 8%;
    width: 350px;
    height: 350px;
}
.image2{
    width: 348px;
    height: 348px;
}
.baby-container9{
    /* border: 1px solid red; */
    width: 400px;
    height: 720px;
    position: absolute;
    top: 50vh;
    left: 7%;
}
.font1e{
    font-size: 17px;
    position: absolute;
}
.font2e{
    font-size: 40px;
    position: absolute;
    font-weight: 700;
    top: 2vh;
}
.font3e{
    font-size: 40px;
    position: absolute;
    font-weight: 700;
    top: 6.5vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.font4e{
    font-size: 19px;
    color: #615978;
    position: absolute;
    top: 15vh;
    font-weight: 200;
    font-family: 'poppins', sans-serif;
    text-align: left;
    line-height: 25px;
}
.circle1b{
    position: absolute;
     top:48vh;
    
   
}
.font5e{
    position: absolute;
    left: 17%;
    top: 47vh;
}
.font6e{
    left: 17%;
    position: absolute;
    top: 51vh;
}
.circle2b{
     top: 58vh;
    left: 0; 
    background-color: #fd4512d3;
}

.font7e{
    position: absolute;
    left: 17%;
    top: 57vh;
}
.font8e{
    left:17%;
    position: absolute;
    top: 61vh;
}

.circle3b{
    position: absolute;
     top: 69vh;
    left:0; 
  
}
.font9e{
    font-size: 22px;
    font-weight: 700;
    position: absolute;
    left: 17%;
    top: 68vh;
}
.font10e{
    left: 17%;
    position: absolute;
    top: 72vh;
}


/* *************************************************************************************************************************************************************
                   SUB-CONTAINER7 / TESTIMONIAL
************************************************************************************************************************************************************* */


.sub-container7{
    /* border: 1px solid red; */
    height: 150vh;
    width: 100%;
    position: relative;
    top: 0;
}
.font1f{
    position: absolute;
    top: 7vh;
    left: 30%;
}
.font2f{
    position: absolute;
     top: 12vh;
     color: #bdb9cb;
    left: 12%;
     font-size: 19px;
     font-weight: 500;
}
.baby-container10{
    position: absolute;
    /* border: 1px solid red; */
    width: 400px;
    height:300px;
    left: 5%;
    top: 23vh;
    border-radius: 15px;
    background-color: #fff;
    
}
.mini-container1{
    position: absolute;
    /* border: 1px solid red; */
    width: 355px;
    height: 20px;
    top: 31.1vh;
    left: 6.1%;
}

.baby-container11{
    position: absolute;
    /* border: 1px solid red; */
    width: 400px;
    height:300px;
    left: 5%;
    top: 66vh;
    border-radius: 15px;
    background-color: #fff;
}
.mini-container2{
    position: absolute;
    /* border: 1px solid red; */
    width: 355px;
    height: 20px;
    top: 31.1vh;
    left: 6.1%;
}
.baby-container12{
      position: absolute;
    /* border: 1px solid red; */
    width: 400px;
    height:300px;
    left: 5%;
    top: 106vh;
    border-radius: 15px;
    background-color: #fff;
}
.mini-container3{
    position: absolute;
    /* border: 1px solid red; */
    width: 355px;
    height: 20px;
    top: 31.1vh;
    left: 6.1%;
}

/* *************************************************************************************************************************************************************
                   SUB-CONTAINER8 /CONTACTS
************************************************************************************************************************************************************* */
.sub-container8{
    /* border: 1px solid red; */
    height: 140vh;
    width: 100%;
    position: relative;
    top: 0;
}
.font1G{
    position: absolute;
    top: 7vh;
    left: 30%;
   
 
}
.circle1d{
    position: absolute;
    top: 21vh;
    left: 5%;
} 
.font2G{
    position: absolute;
    font-size: 23px;
    left: 23%;
    top: 20.5vh;
    color: black;
}
.font3G{
    position: absolute;
    font-size: 19px;
    left: 23%;
    top: 24.5vh;
    
}
.font3G:hover{
    color: #fd4312;
}


.baby-container13{
    /* border: 1px solid red; */
    width: 400px;
    height: 510px;
    position: absolute;
    top: 80vh;
    left: 5%;
}
.font4G{
    position: absolute;
   left: 3%;
}
.input1{
    position: absolute;
    height: 50px;
    width: 190px;
    top: 10vh;
}
.input2{
    position: absolute;
    height: 50px;
    width: 190px;
    top: 10vh;
    left: 52.2%;
}
.input3{
    position: absolute;
    height: 50px;
    width: 400px;
    top: 17vh;
   
}
.input4{
    position: absolute;
    height: 180px;
    width: 400px;
    top: 24vh;
}
.button3{
    width: 200px;
    height: 50px;
    top: 45vh;
    position: absolute;
}  
/* ********************************************************************************************************************************************************
                        FOOTER
******************************************************************************************************************************************************** */

footer{
    /* border: 1px solid red; */
    height: 40vh;
    background-color: #f5edd8;
    position: relative;
    top: 0;
}
.img12{
    display: none;
}
.font1h{
    position: absolute;
    left: 25%;
}
.font2h{
    position: absolute;
    top: 20vh;
    color: #615978;
    left: 5%;
    font-size: 20px;
}

}
 
